[submodule "vim/bundle/taskpaper.vim"]
    path = vim/bundle/taskpaper.vim
    url = https://github.com/tsaleh taskpaper.vim.git
    ignore = untracked

[submodule "vim/bundle/snipmate.vim"]
    path = vim/bundle/snipmate.vim
    url = git://github.com/msanders snipmate.vim.git
    ignore = untracked

[submodule "vim/bundle/vim-ruby"]
    path = vim/bundle/vim-ruby
    url = git://github.com/vim-ruby vim-ruby.git
    ignore = untracked

[submodule "vim/bundle/vim-surround"]
    path = vim/bundle/vim-surround
    url = git://github.com/tpope vim-surround.git
    ignore = untracked
[submodule "vim/bundle/jslint.vim"]
	path = vim/bundle/jslint.vim
	url = https://github.com/hallettj/jslint.vim.git
[submodule "vim/bundle/mustache.vim"]
	path = vim/bundle/mustache.vim
	url = https://github.com/juvenn/mustache.vim.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
